@{
    ViewBag.Title = "Sobre O SSGU - Estatísticas";
}
<h2>@ViewBag.Title.</h2>
<br />
<h3>@ViewBag.Message</h3>

<p>O Propósito desta ferramenta é gerenciar os usuários do SECONCI-RIO, habilitando, desbloqueando, solicitar troca de senha ou liberar o uso de um computador </p>
