@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Não Autorizado!";
}

<h1 class="text-danger">Atenção!</h1>
<h2 class="text-danger">Este sistema destina-se a manutenção de usuários da rede SECONCI-Rio</h2>
<p></p>
<h2 class="text-danger">Somente administradores da Rede podem acessar!</h2>
    

